{% extends 'base.html' %}
{% block content %}
<div class="container"></div>
    <div class="row">
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
        </div>
        <div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
<div class="container mt-3">
    <h2></h2>
    <br>
    <br>
    <form action="" method="post">
       {% csrf_token %}
       <div class="mb-3">
        <label for="category">Category:</label>
        <input type="category" class="form-control" id="category" placeholder="Enter password" name="category">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <br>
</div>
</div>
<div class="col-lg-4 col-md-2 col-sm-3 col-xs-12">
</div>   
</div> 
{% endblock %}    
