{% extends 'base.html '%}

{% load static %}
{% block title %}student Home{% endblock %}
{% block content %}
<br>
<br>
<div class="container">
<a href="{% url 'viewbooks' %}"><button type="button" class="btn btn-dark">viewbook</button></a>
<br>
<br>
<a href="{% url 'bookdeatils'%}"><button type="button" class="btn btn-dark">history</button></a>
<br>
<br>
<a href="{% url 'reservedbook' %}"><button type="button" class="btn btn-dark">reservedbook</button></a>
<br>
<br>
<a href="{% url 'logout' %}"><button type="button" class="btn btn-dark">logout</button></a>
<br>
<br>
<a href="{% url 'newpassword' %}"><button type="button" class="btn btn-dark">new_password</button></a>
<br>
<br>
<a href="{% url 'viewprofile' %}"><button type="button" class="btn btn-dark">viewprofile</button></a>
<br>
</div>
<br>
<br>
{% endblock %}
